fastapi==0.95.1
uvicorn==0.21.1
pandas==1.5.3
scikit-learn==1.2.2
numpy==1.23.5
langchain==0.0.206
openai
python-dotenv==0.20.0
passlib==1.7.4
pyjwt==2.9.0
langchain_huggingface==0.0.3
typing_extensions
langchain_openai==0.0.2
